<div class="container">
  <div class="content">
<h2>Login Form</h2>

<form>
  <div>
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required><br>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required><br>
        
    <button type="submit" style="margin: 5px">Login</button><b></b>
    <button type="button" style="margin: 5px" class="cancelbtn">Cancel</button><br>
  </div>
</form>
  </div>
</div>
