body {text-align: center;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  /* width: 100%; */
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  margin: 8px;
  border: none;
  cursor: pointer;
  /* width: 100%; */
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  /* width: auto; */
  padding: 5px 9px;
  background-color: #f44336;
}


.container {
  padding: 16px;
}

span.psw {
  float: left;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
  .content {
    max-width: 500px;
    margin: auto;
    padding: 10px;
  }
}